@model HollywoodNoticias.Domain.DTO.NoticiaDTO

@{
    ViewData["Title"] = "Details";
}

<div class="">
    <h4 class="mt-5">Título: @Model.titulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 mt-3">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10 mt-3">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class = "col-sm-2 mt-3">
            @Html.DisplayNameFor(model => model.enderecoImagem)
        </dt>
        <dd class = "col-sm-10 mt-3">
            <img class="w-50 img-fluid" src="@Html.DisplayFor(model => model.enderecoImagem)"/>
            
        </dd>
        <dt class = "col-sm-2 mt-3">
            @Html.DisplayNameFor(model => model.texto)
        </dt>
        <dd class = "col-sm-10 mt-3">
            @Html.DisplayFor(model => model.texto)
        </dd>
        
        <dt class = "col-sm-2 mt-3">
            @Html.DisplayNameFor(model => model.categoria)
        </dt>
        <dd class = "col-sm-10 mt-3">
            @Html.DisplayFor(model => model.categoria.nome)
        </dd>
    </dl>
</div>
<div class="mt-5">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.id">Editar</a> |
    <a class="btn btn-dark" asp-action="Index">Voltar para Lista</a>
</div>
