@model IEnumerable<HollywoodNoticias.Domain.DTO.NoticiaDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Notícias</h1>

<p>
    <a class="btn btn-success" asp-controller="Noticias" asp-action="Create" >Adicionar Notícia</a>
</p>

<div class="bg-white p-3">

<table class="table">
    <thead>
        <tr>
            <th>
                Capa
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img class="w-75" src="@Html.DisplayFor(modelItem => item.enderecoImagem)">      
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>     
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td> 
            <td>
                @Html.DisplayFor(modelItem => item.categoria.nome)
            </td>
            <td>
                <a class="btn btn-primary mb-2" asp-action="Edit" asp-route-id="@item.id">Editar</a> 
                <a class="btn btn-warning mb-2"  asp-action="Details" asp-route-id="@item.id">Detalhes</a>
                <a class="btn btn-danger" onclick="deleteRegistro(@item.id, 'Notícias', '/Noticias/Delete')">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>