@model IEnumerable<HollywoodNoticias.ProjetoMVC.Models.Entities.Noticia>

@{
    ViewData["Title"] = "Index";
}

<h1>Notícias</h1>

<p>
    <a class="btn btn-success" asp-controller="Noticias" asp-action="Create" >Adicionar Notícia</a>
</p>

<div class="bg-white p-3">

<table class="table">
    <thead>
        <tr>
            <th>
                Capa
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img class="w-75" src="@Html.DisplayFor(modelItem => item.EnderecoImagem)">      
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>     
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td> 
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
            <td>
                <a class="btn btn-primary mb-2" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a class="btn btn-warning mb-2"  asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>