@model HollywoodNoticias.ProjetoMVC.Models.Entities.Noticia

@{
    ViewData["Title"] = "Details";
}

<div class="">

    <div class=" ">
        <p class="categoria-title fw-bold fs-5 ">@Model.Categoria.Nome</p>
        <div class="w-100 d-block p-5 titulos text-white">
            <h1>@Model.Titulo</h1>
            <p class="text-noticia">@Model.Descricao</p>
        </div>
    </div>

    <div class="container text-center">
        <img class="w-75 img-fluid" style="margin-top: 17em;" src="@Model.EnderecoImagem"/>
    </div>

    <div class="mt-3 w-100 container lh-lg">
        <p style="text-indent: 2em;">@Model.Texto</p>
    </div>

</div>


<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>
